* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-color: #1e2d3b;;
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #2e3a46;;
    border-radius: 5px;
}

.prova{
    flex-basis: 200px;
}

img{
    max-width: 200px;
    max-height: 200px;
}

.titolo{
    color: #ffffff;
    margin-bottom: 4px;
}

.autore{
    color: #808080;
    margin-bottom: 4px;
}

.anno{
    color: #808080;
}